/result
/result-*
/.direnv
*.env
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local
*.lock
*.log
*.tmp
*.swp
*.DS_Store
/.nix-gcroots
/.nix-defexpr
/.nix-channels
/.nix-profile
/.nix-shell
Thumbs.db
Trashes
ehthumbs.db
